*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    /*Cores*/
    --h1-color: #000;
    --p-color: #7D7987;

    /*Cores Span*/
    --h1-span: #FF9900;
    --p-span: #FF9900;

    /*Color linha*/

    --liner-color: #6565548f;
    
}

/****** Configuração da cores de span ******/
.yellow{
    color: var(--h1-span);
}

/****** Estrutura do body ******/
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;

    /* Centralização do conteudo total*/
    text-align: center;
}

#hero{
    /*Largura*/
    width: 59.2rem;

    /*Voltar alinhamento do body centralizado*/
    margin: 0 auto 7.2rem;
}

#hero img{
    margin-bottom: 7.2rem ;
}


h1{
    font-size: 4.8rem;
    line-height: 5.6rem;
    font-weight: normal;
    color: var(--h1-color);

    font-family: 'Inter', sans-serif;

    margin-bottom: 3.2rem;
}

p{

    /*Configuração fonte*/
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 400;

    /*Color*/
    color: var(--p-color);
 
}

/****** Rodapé ******/
footer{
    margin-top: 7.2rem;
}
footer, a {

    /* Configuração da fonte */
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 400;


    color: var(--p-span);

    /* Alinhamento e linha em baixo da escrita */
    text-align: center;
    text-decoration: underline;

}

/*Ele pega a anterior e alinhando ao meio */
footer a + a{
    margin-left: 2.8rem;
}

/******* Linha ********/
#line{
    width: 56.8rem;
    height: 0;

    border: 0.1rem var(--liner-color) solid;

    margin: 0 auto 0.8rem;
}

#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;

}